// 往中間的漸層
.bg-gradient-primary{
    @include radial-gradient;
}
// LOGO大小
.logo-size{
    width: 196px;
    height: 196px;
}
// link under-line
.link-underline{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
// button 效果 - white
.btn-hover:hover{
    background: #fff;
    color: #000 !important;
}
// nav 專用 margin
.nav-margin{
    margin-top: 70px;
}