<footer class="container py-11 d-flex justify-content-between align-items-center fw-bold">
    <div>
        <p class="display-5">ALPHABOX+</p>
        <p class="font-noto-sans letter-sm-016 letter-016">Copyright © 2023 Hexschool.</p>
    </div>
    <span class="material-icons display-2">emergency</span>
    <ul class="list-unstyled d-flex gap-7">
        <li><a href="#" class="text-black">關於我們</a></li>
        <li><a href="#" class="text-black">產品資訊</a></li>
        <li><a href="#" class="text-black">常見問題</a></li>
        <li><a href="#" class="text-black">隱私政策</a></li>
    </ul>
    

</footer>