<footer class="container py-11 d-flex justify-content-between">
    <div>
        <p class="display-4">ALPHABOX+</p>
        <p class="font-noto-sans">Copyright © 2023 Hexschool.</p>
    </div>
    <p class="display-5"><span class="material-icons">emergency</span></p>
    <ul class="list-unstyled d-flex gap-7">
        <li><a href="#" class="text-black">關於我們</a></li>
        <li><a href="#" class="text-black">產品資訊</a></li>
        <li><a href="#" class="text-black">常見問題</a></li>
        <li><a href="#" class="text-black">隱私政策</a></li>
    </ul>
    

</footer>