<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入 | ALPHABOX+ 虛擬陪伴平台</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="bg-gradient-primary nav-margin">
      <div class="container py-12 text-white">
        <div class="row">
          <div class="col-lg-2 mt-15 d-flex">
            <p class="display-3 fw-bolder letter-sm-40 letter-64 text-nowrap">登入</p>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-4">
            <img class="logo-size d-block mx-auto" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-ai/circle.png" alt="logo">
            <p class="display-5 text-center mt-7">ALPHABOX+</p>
            <a href="#" class="mt-8 d-block border border-1 text-white text-center font-noto-sans rounded-pill btn-hover"><img src="/assets/images/apple.png" alt="apple-icon" class="me-1"> Continue with Apple</a>
            <a href="#" class="mt-5 d-block border border-1 text-white text-center font-noto-sans rounded-pill btn-hover"><img src="/assets/images/google.png" alt="google-icon" class="me-1"> Continue with Google</a>
            <p class="my-8 font-noto-sans text-center">or</p>
            <form action="index.html" method="get" class="font-noto-sans">
              <input type="email" placeholder="EMAIL" class="form-control mb-5">
              <input type="password" placeholder="密碼" class="form-control mb-7">
              <button type="submit" class="btn btn-primary w-100 mb-2"><i class="material-symbols-outlined align-bottom me-1">point_scan</i> 立即登入</button>
              <p class="text-end"><a href="#" class="link-underline text-white">忘記密碼</a></p>
            </form>
          </div>
        </div>
      </div>
  
    </div>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
